* {
	box-sizing: border-box;
}

html, body, h1, h2, p {
	background-color: #f1f1f1;
}

/*========== Fonts ===========*/
.script {
	font-family: "Kaushan Script", cursive;
}

.openSans {
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
}

.openSansItalic {
	font-family: "Open Sans", italic;
	font-weight: 800;
	font-style: italic;
}

.lato {
	font-family: "lato";
}
/*=========== Images =========*/
.contain {
	max-width: 100%;
}

.main-content {
	max-width: 100%;
	height: 100%;
	z-index: 10;
}

.images {
	z-index: 1;
	position: absolute;
	max-width: 100%;
}

#latte {
	width: 32%;
	margin: 35vh -1vh 0.5vh 0;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

#desk {
	width: 44%;
	margin: 0.5vh -1vh 0 0;
	-webkit-box-shadow: 3px -3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px -3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 3px -3px 5px 0px rgba(0,0,0,0.75);
}

#ukulele {
	width: 14.4%;
	margin: 25vh 0 0vh -1vh;
	-webkit-box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.75);
}

#guitar {
	width: 6.6%;
	margin: 25vh 0 0vh 1vh;
	-webkit-box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.75);
}

#food {
	width: 30%;
	margin: 0 0 0 -1vh;
	-webkit-box-shadow: -3px -3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -3px -3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: -3px -3px 5px 0px rgba(0,0,0,0.75);
}

/*=============================*/
.intro {
	display: inline-block;
	margin: 3em 0 6em 4em;
	font-size: 1em;
	z-index: 20;
}

.eng {
	border-bottom: 1px solid #000;
}

.verticalcenter {
	height: 100vh;
}

.namediv {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin: 0;
	z-index: 2;
}

.name {
	overflow: hidden;
	font-size: 4em;
	background: rgba(10, 10, 10, 0.7);
	color: #fff;
	padding: 3px 80px;
	margin: 0;
	-webkit-box-shadow: 6px 8px 20px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 6px 8px 20px -2px rgba(0,0,0,0.75);
	box-shadow: 6px 8px 20px -2px rgba(0,0,0,0.75);
}

.nav {
	margin: -17em 4em 0em;
}

.nav_entry {
	margin-bottom: 1.5em;
	font-size: 1.2em;
	max-width: 100%;
	border-bottom: 1px solid #aaa;
}


/*========= Media Queries =========*/

@media (max-width: 1220px){

	.name {
		font-size: 2.8em;
	}
}

@media (max-width: 992px){
	
	.images {
		display: none;
	}

	.intro {
		margin-top: 2em;
		margin-left: 1em;
	}

	.nav {
		margin-top: 6em;
		margin-left: 1em;
	}

	.namediv {
		background: #aaa;
		margin: 0;
		top: 0;
		bottom: 0;
	}

	.name {
		font-size: 2.3em;
	}

	.verticalcenter {
		height: 0;
	}
}

@media (max-width: 430px){

	.name {
		font-size: 3em;
	}

	.nav {
		margin-top: 7em;
	}
}

@media (max-width: 390px){

	.name {
		font-size: 2.5em;
	}
}

@media (max-width: 355px){

	.name {
		font-size: 2.2em;
	}
}

@media (max-width: 340px){

	.name {
		font-size: 2em;
	}
}

@media (max-width: 322px){

	.name {
		font-size: 1.8em;
	}
}

@media (min-width: 1600px){

	#latte {
		margin-top: 30vh;
	}

	#guitar, #ukulele {
		margin-top: 20vh;
		margin-bottom: 2vh;
	}
}

@media (max-height: 500px) and (min-width: 1000px){

	#latte {
		margin-top: 20vh;
	}

	#guitar, #ukulele {
		margin-top: 10vh;
		margin-bottom: 2vh;
	}
}

@media (max-height: 800px) and (min-width: 1300px){

	#latte {
		margin-top: 15vh;
	}

	#guitar, #ukulele {
		margin-top: 5vh;
		margin-bottom: 2vh;
	}
}

@media (min-height: 400px) and (max-width: 1000px){

	#latte {
		margin-top: 30vh;
	}

	#guitar, #ukulele {
		margin-top: 20vh;
		margin-bottom: 2vh;
	}
}

@media (min-height: 600px) and (min-width: 1250px) and (max-width: 1600px){

	#latte {
		margin-top: 33vh;
	}

	#guitar, #ukulele {
		margin-top: 23vh;
		margin-bottom: 2vh;
	}
}

